*.parquet

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Python version managers
.python-version

# OS / editor junk
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
*.log

# Virtual environments
.venv/
venv/
env/

# Python version managers
.python-version
